.btn-sm:hover {
    background-color: #f27642;
    color: white;
}

.btn-sm:focus {
    background-color: #f27642;
    color: white;
}

.add-product-btn {
    background-color: #f27642;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: none;
}


.category-btn {
    transition: background-color 0.3s, color 0.3s;
}

.category-btn.btn-primary {
    background-color: #f27642;
    border-color: #f27642;
    color: white;
}

.category-btn.btn-light:hover {
    background-color: #f27642;
    border-color: #f27642;
    color: white;
}

.category-btn:focus {
    background-color: #f27642;
    border-color: #f27642;
    color: white;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(242, 118, 66, 0.25);
}



.amount-btn{
    background-color:#00473e ;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}


.amount-btn:hover{
    color: none;
}

.exact-amount-btn{
    background-color: #dd4e75;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
}

.proceed-btn{
    background-color:#f27642 ;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
}