.btn-sm:hover {
    background-color: #f27642;
    color: white;
}

.btn-sm:focus {
    background-color: #f27642;
    color: white;
}

.add-product-btn {
    background-color: #f27642;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.category-btn:focus{
    background-color: #f27642;
}


.amount-btn{
    background-color:#00473e ;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}


.amount-btn:hover{
    color: none;
}

.exact-amount-btn{
    background-color: #dd4e75;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
}

.proceed-btn{
    background-color:#f27642 ;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
}