.btn-sm:hover {
    background-color: #f27642;
    color: white;
}

.btn-sm:focus {
    background-color: #f27642;
    color: white;
}

.add-product-btn {
    background-color: #f27642;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.category-btn:focus{
    background-color: #f27642;
}



